

<section id="search" class="search-wrap">
    <h1><i class="fas fa-laptop-code"></i>TechJob</h1>
    <form action="/jobs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Nodejs, Javascript, Python, C++...">
      <input type="submit" value="Search">
    </form>
  </section>